@import 'main';
.top-bar {
  z-index: 1000;
  position: relative;
  background-color: $darkblue;
  padding: 10px;
  border-bottom: 1px solid $darkblue;
  transform: none;
  @include respond-below(sm) {
    text-align: center;
    padding: 0px;
    .nav {
      justify-content: center;
    }
  }
  .nav-item {
    .nav-link {
      color: $white;
      font-size: 14px;
      font-weight: 500;
      @include respond-below(md) {
        font-size: 13px;
        padding: 7px;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }
}